
body {
    color: rgb (183 128 2370);
    background: rgb(60 10 109);
    margin: 0px;
    font-family: "EB Garamond", serif;
    margin-bottom: 100px;

}

header {
    border-bottom: solid 1px ;
   padding: 20px;
   font-size: 32px;
   color:rgb(179 111 245);
} 

.chamada { 
    background: rgb(81 31 131);
    padding-bottom: 80px;
    padding-top:  70px;
    display: flex;
    justify-content: center;

}
.chamada-texto{ 
    margin-right: 5%;
}
 
h1{ 
    font-size: 40px;
}

p{ 
    font-size: 20px;
}
    
.categoria-videos {

    display: flex;
    overflow-x: auto;
    gap:10px;
}

.categoria{

padding-left: 20px;
padding-right: 20px;
margin-top:  50px; ;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border:1px solid green ;
} 

.categoria h2 { 
    color: rgb(179 111 245) ;
}
